stages:
    - prepare
    - deploy
    - notify
    - delete

prettier:
    stage: prepare
    image: node:lts-buster
    only:
        changes:
            - "**/*.yaml"
            - "**/*.yml"
            - "**/*.json"
            - ".prettierrc.js"
    before_script:
        - yarn global add prettier
    script:
        - ./.gitlab/tools/prettier.sh

ktlint:
    stage: prepare
    image: kkopper/ktlint:0.42.1
    only:
        changes:
            - "**/*.kts"
            - "**/*.kt"
            - "**/*.mcc.kts"
    script:
        - ./.gitlab/tools/ktlint.sh

pyhocon:
    stage: prepare
    image: python:3.9-alpine
    only:
        changes:
            - "**/*.conf"
    script:
        - pip install pyhocon==0.3.58
        - pip install loguru==0.5.3
        - python .gitlab/tools/parse-hocon.py

compile_scripts:
    stage: prepare
    image: harbor.services.noxcrew.online/tools/script-cli:main-3225e347ef8d1404db764e8ea4d9831f7237cc11
    script:
        - ./.gitlab/tools/compile-scripts.sh
    cache:
        key: "$CI_COMMIT_BRANCH"
        paths:
            - "compiled/"

.upload_consul:
    image: harbor.services.noxcrew.online/tools/fs2consulkv:latest
    tags: [docker]
    # https://gitlab.com/gitlab-org/gitlab-runner/-/issues/27524
    script:
        - ./.gitlab/tools/compress-csv.sh
        - ./.gitlab/tools/consul-wrapper.py fs2consulkv --fs-kv-path . --consul-url http://localhost:8500 --consul-acl-token "$CONSUL_ACL_TOKEN" --consul-kv-root "configuration/$CI_COMMIT_BRANCH" --sync
    retry: 2
    cache:
        key: "$CI_COMMIT_BRANCH"
        paths:
            - "compiled/"
        policy: pull

.kube_env_dev:
    resource_group: dev
    environment:
        name: dev-fs2consulkv
        on_stop: delete_consul_dev
        kubernetes:
            namespace: ops

.kube_env_stg:
    resource_group: stg
    environment:
        name: stg-fs2consulkv
        on_stop: delete_consul_stg
        kubernetes:
            namespace: ops

.kube_env_prd:
    resource_group: prd
    environment:
        name: production-fs2consulkv
        on_stop: delete_consul_prd
        kubernetes:
            namespace: ops

.delete_consul:
    dependencies: []
    variables:
        GIT_STRATEGY: none
    image: harbor.services.noxcrew.online/tools/fs2consulkv:latest
    stage: delete
    when: manual
    retry: 2
    environment:
        action: stop
    script:
        - ./.gitlab/tools/consul-wrapper.py consul kv delete -token="$CONSUL_ACL_TOKEN" -recurse configuration/"$CI_COMMIT_BRANCH"
    except:
      - main
      - master
      - develop
      - /^event.*/ 

upload_consul_dev:
    stage: deploy
    extends: [.kube_env_dev, .upload_consul]
    except:
        - /^event.*/

#upload_consul_stg:
#    stage: deploy
#    extends: [.kube_env_stg, .upload_consul]

upload_consul_prd:
    stage: deploy
    extends: [.kube_env_prd, .upload_consul]

delete_consul_dev:
    stage: delete
    extends: [.kube_env_dev, .delete_consul]

delete_consul_prd:
    stage: delete
    extends: [.kube_env_prd, .delete_consul]

notify_event:
    stage: notify
    image: alpine:3.15
    only:
        refs:
            - /^event.*/
    script:
        - "apk add --no-cache redis"
        - "echo \"PUBLISH HUB '{\\\"class\\\": \\\"com.noxcrew.creatorbash.commons.communication.packet.PacketPlayerMessage\\\", \\\"value\\\": {\\\"message\\\": \\\"§6GitLab Finished Build §7> §b$CI_PROJECT_NAME §7(#$CI_JOB_ID, $JOB_STATUS)\\\", \\\"permission_group\\\": \\\"DEVELOPER\\\"}}'\" | redis-cli -h event-01.mcc.noxcrew.online"
        - "echo \"PUBLISH GAME '{\\\"class\\\": \\\"com.noxcrew.creatorbash.commons.communication.packet.PacketPlayerMessage\\\", \\\"value\\\": {\\\"message\\\": \\\"§6GitLab Finished Build §7> §b$CI_PROJECT_NAME §7(#$CI_JOB_ID, $JOB_STATUS)\\\", \\\"permission_group\\\": \\\"DEVELOPER\\\"}}'\" | redis-cli -h event-01.mcc.noxcrew.online"
